:root{
    --primary-color: #3498db;
    --dark-color: #222;
    --light-gray: #f4f4f4;
}

/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

/* HEADER */
header{
    background: var(--primary-color);
    color: white;
    text-align: center;
    padding: 25px 15px;
}

header h1{
    margin-bottom: 5px;
}

header h4{
    font-weight: normal;
}

/* HERO SECTION */
.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 20px;
    text-align: center;
}

.hero img{
    width: 100%;
    max-width: 500px;
    height: auto;
    margin-bottom: 20px;
}

.hero-text p{
    font-size: 18px;
    font-weight: bold;
}
